@charset "UTF-8";
#container{
	padding-top:100px;
	width:80%;
	min-width:1000px;
	margin:0 auto;
}
#container small{
	font-weight:normal;
	color:#898989;
}
#container h1{
	font-weight:lighter;
	color:black;
	padding:30px 0;
	font-size:28px;
}
table{
	width:30%;
	min-width:1000px;
	margin:0 auto;	
	margin-top:40px;
	border-collapse: collapse;
}
#container>table>tr{
	border-bottom: 1px solid black;
}
th{
	color:#868e96;
	font-weight:normal;
	text-align: left;
	border-bottom:2px solid #e8e8e8; 
	padding:10px 20px;
}
th:first-child{
	text-align: center;
}
td{
	box-sizing:border-box;
	padding:15px 10px;
	border-bottom:1px solid #e8e8e8; 
}
td:first-of-type{
	text-align:center;
	width:100px;
}
td:nth-of-type(2){
	width:500px;
}
#pagging{
	text-align: center;
	padding:10px;
}
a:link,a:visited{
	text-decoration: none;
	color:#121212;
}
#pagging span{
	display: inline-block;
	width:30px;
	height:30px;
	line-height:30px;
	border:2px solid #e8e8e8;
	border-radius: 2px;
}
#pagging span:hover{
	box-shadow:0 0 1px black;
}
#pagging a{
	display: block;
	font-size:14px;
}
.active{
	border:1px solid black !important;
}