@charset "UTF-8";
html,body{
	height:100%;
}
footer{
	position: relative !important;
}
html{
	width:100%;
	margin:0;	
}
#container{
	min-height:84%;
	width:100%;
	margin:0 auto;
	clear:both;
	position: relative;
	text-align: center;
}
#top{
	padding:50px 0 30px 0; 
}
#top small{
	font-weight:400;
	color:#898989;
}
#top h2{
	padding:10px 0;	
	font-weight: 700;
	font-size: 30px;
	color:#121212;
}
.trip{
	display:block;
	width:96%;
	height:180px;
	margin:30px auto;
	border:1px solid #d8d8d8; 
	border-radius: 20px;
	box-shadow: 1px 3px 2px #e8e8e8;
	transition: all 0.2s;
	outline: none;
}
.trip:hover{
	box-shadow: 1px 3px 10px #20d5ac;
}
.trip img{
	width:30%;
	height:180px;
	border-radius: 20px 0 0 20px;
	float:left;
}
.info{
	float:left;
	width:70%;
	height:200px;
	padding:10px;
	box-sizing: border-box;
}
.content{
	width:100%;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* ellipsis line */
	-webkit-box-orient: vertical;
	line-height: 1.2em;
	height: 3.6em;
}
.info small{
	display:inline-block;
	margin-bottom:5px;
	color:#cccccc;
	font-weight: 600;
}
.title{
	margin-bottom:10px;
	display: inline-block;
}
.rating{
	color:#6a67ce;
	font-weight:900;
	font-size: 14px;
}
#arrow_prev,#arrow_next{
	float:left;
	display: block;
	height:200px;
	transition:all 0.6s;
	border-radius: 50px  0 0 50px;
	background-color: #7a77de;
	opacity: 0.3;
	width:30px;
	margin-top:200px;
	text-align: center;
}
#arrow_next{
	border-radius: 0 50px  50px 0;
	float:right;
	top:168px;
	right:0;
	position:absolute;
}
.for_slick{
	width:80% !important;
	box-sizing: border-box;
	display:inline-block;
	margin:0 auto;
	position: relative;
}
#arrow_next:hover,#arrow_prev:hover{
	opacity: 0.7;
}
#arrow_prev+div{
	width:75%;
}
#arrow_next img,#arrow_prev img{
	width:50%;
	margin-top:84px;
}
#arrow_prev img{
	display: inline-block;
	margin-left:4px;
}
footer{
	clear:both;
}
.slide{
	outline: none;
	width:100%;
	display: inline-block;
	text-align: left;
}