@charset "UTF-8";
html,body{
	height:100%;
}
#container{
	min-height:73%;
	padding-top:40px;
}
#user_info{
	width:90%;
	height:400px;
	border:1px solid #c8c8c8;
	margin:0 auto;
	position:relative;
	font-weight: normal;
}
#user_info p:first-child{
	padding:10px 20px;
	font-size: 20px;
	color:#333333;
	border-bottom: 1px solid #c8c8c8;
}
td{
	padding:15px 0px;
}
td:first-of-type{
	width:100px;
	padding:15px 25px;
	color:#868e96;
	font-size:14px;
}
input {
	padding:5px;
}
select{
	padding:5px;
}
#btns{
	position: absolute;
	bottom: 0;
	width:100%;
	box-sizing: border-box;
}
#btn1{
	margin:5px 10px;
	display: inline-block;
}
#btn2{
	position:absolute;
	right: 15px;
	bottom:6px;
	text-decoration: none;
	padding:8px 15px;
	background-color: #5a57bf;
	color:white;
	border-radius: 4px;
}
#btn2:hover{
	background-color: #6a67cf;
}
#btn2:active{
	background-color: #4a47af;
}