@charset "UTF-8";
 @font-face { 
	font-family: 'Noto Sans KR'; 
	font-weight:normal;
	font-style:normal;
	src: url(/font/NotoSansKR-Bold.otf) format('truetype'); 
} 
*{
	font-family: 'Noto Sans KR';
}
a:link,a:visited{
	color:black;
	text-decoration: none;
}
#login{
	width:500px;
	margin: 0 auto;
	margin-top:300px;
	text-align: center;
}
#logo{
	font-size:50px;
}
form p{
	width:300px;
	margin: 0 auto;
	border-bottom: 2px solid #dddddd;
}
input{
		width:90%;
		border:none;
		outline:none;
		padding:5px;
		margin:2px;
}
button{
	outline:none;
	border:1px solid #e8e8e8;
	border-radius:5px;
	width:300px;
	height:45px;
	margin: 5px auto;
	background-color: #e8e8e8;
}
button:first-of-type{
	margin-top:20px;
} 
button:hover{
	background-color: #dfdfdf;
}
form a{
	display:inline-block;
	margin-top:5px;
}
